.speech{

    font-family: Georgia;
    font-size:16px;
    color:black;
}
.stage-direction{
    font-family: 'Courier New';
    color:black;
    font-size:16px ;
    background-color: cyan;
}
.name{
    font-family: 'Times New Roman';
    color:black;
    font-size:16px ;

}
.stage-direction:hover{
    color:brown;
    background-color:khaki;
}
.PHIPPS{
    color:darkgreen;
}
.SIRROBERTCHILTERN{
    color:darkred;
}
.LORDGORING{
    color:rgb(158, 126, 143);
}
table{
    border:1px solid black;
    padding :45px 30px 50px;
    margin: 25px 50px 75px 120px;
    width:50%;
}
th{
    color:black;
    border:1px solid black;
    text-align:center;
    background-color:rgb(224, 11, 11) ;
}
td{
    color:rgb(1, 46, 25);
    border: 1px solid black;
    text-align: left;
}
tr:nth-child(even) {
    background-color: rgb(218, 126, 210);
}
.MRSCHEVELEY{
    color:tomato;
}
.name:hover{
    text-shadow: 2px 4px 3px rgba(red, green, blue, alpha) ;
    color:rgb(142, 243, 10);
    filter: blue(3px);
    border: solid 2px rgb(158, 126, 143);

}